@media screen {




#myvideo {
    /* height: 99vh; */
    width: 100vw;
    margin: 0 auto;

}

body{
  background-color: black
}

h3 {
  font-size: 15px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  position: fixed;
  top:-1px;
  /* text-align: center; */
  left: 10%
  z-index: 999;
  background-color: white;
}

a{
  font-size: 15px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  position: fixed;
  top:10px;
  /* text-align: center; */
  right: 10px;
  z-index: 999;
  background-color: white;
}
h1 {
  font-size: 15px;
  color: black;
  font-family: "Courier New", Courier, monospace  ;
  font-weight: lighter;
  position: fixed;
  top: 30px;
  /* text-align: center; */
  left: 10%
  z-index: 999;
  /* background-color:white; */
    /* opacity:0.5; */
}

mark {
  background-color: white;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}


}
/* ----------------- */


@media print {


/* h1, h2, video, audio */

}
