#myvideo {
    width: 70vw;
    top: 50%;
position: relative;
margin-top: 0px;
}



body{
  background-color: black;
  width: 70vw;
  top: 50%;
  position: relative;
  margin-top: 75px;
  margin-left: 15vw;
}


