#myvideo {
    width: 70vw;
    top: 50%;
position: relative;
margin-top: 0px;
/* margin-left: 15vw; */

}



body{
  background-color: black;
  width: 70vw;
  top: 50%;
  position: relative;
  margin-top: 75px;
  margin-left: 15vw;
}

p{
  color: white;
  font-size: 12pt;
  font-family: arial;
  line-height: 30px;
  text-align: justify;
  text-indent: 40px;
  /* text-transform: uppercase; */
  /* margin-left: 15vw; */


}
h1{
  margin-top: 200px;
  color: white;
  font-size: 12pt;
  font-family: arial;
}
